

.color{
    color:black;


	

}
    .login-box{
        width: 400px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        color: black;
        position: absolute;
        max-width: 600px;
        padding: 50px;
        background:  transparent;
        background: rgba(255,255,255, .7);
        box-shadow: 0 5px 15px rgba(0,0,0, .7);
    
    
    }

    .checkbox{
        float: left;
    }
    
    .login-box h1{

        font-family: sans-serif;
        text-align: center;
   

    
    }
    
    .textbox{
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
    
    
    }
   
    
    .textbox input{
        border: none;
        outline: none;
        background:	#E2E4E5;

        
        padding: 12px 53px;
        text-align: left;
        
        
    
    }
    
    
    .btn{
        width: 100%;
        background: #187B85;
        border: none;
        color: white;
    
        font-size: 18px;
        cursor: pointer;
     
    }
    .btn:hover{
        background: #115B62;
        color: white;
    }
    .btn1{
        width: 100px;
        background: #187B85;
        color: white;
        padding: 5px;
        font-size: 18px;
        border: none;
        cursor: pointer;
        margin: 12px 0;
        border-radius: 10px;
    }
    .btn1:hover{
        background: #115B62;
        color: white;
        
    }
    .add{
        width: 50px;
        background: #35B383;
        color: white;
        padding: 5px;
        font-size: 18px;
        border: none;
        outline: none;
        border: none;
        cursor: pointer;
        margin: 12px 0;
        border-radius: 10px;
        position: absolute;
        left: 21.5%;
        top: 9%;

    }
    .add:hover{
        background: #2E8061;
        color: black;
        
    }
    .cancel{
        width: 100px;
        border: none;
        background: #E81010;
        color: white;
        padding: 5px;
        font-size: 1.15rem;
        cursor: pointer;
        margin: 12px 0;
      
        text-decoration: none;
        border-radius: 10px;
    }
    .cancel:hover{
        background: #990C0C;
        color: white;
    }
    .delete{
        width: 95px;
       text-align: center;
        display: flex;
        background: #E81010;
        color: white;
        padding: 5px;
        font-size: 1.15rem;
        cursor: pointer;
        margin: 12px 0;
        border: none;
        text-decoration: none;
        border-radius: 10px;
    }
    .delete:hover{
        background: #990C0C;
        color: white;
    }
    .review{
        border: none;
        width: 85px;
        display: flex;
        background: #A3169F;
        color: white;
        padding: 5px;
        font-size: 1.15rem;
        cursor: pointer;
        margin: 12px 0;
      
        text-decoration: none;
        border-radius: 10px;
    }
    .review:hover{
        background: #81137E;
        color: white;
    }



    .seel{
        width: 85px;
        display: flex;
        
        background: #187B85;
        color: white;
        padding: 5px;
        font-size: 1.15rem;
        cursor: pointer;
        margin: 12px 0;
        border: none;
        border-radius: 10px;
        text-decoration: none;
    }
    .seel:hover{
        background: #115B62;
        color: white;
    }
    .edit{
        width: 85px;
        display: flex;
        background: #9FC81D;
        color: white;
        padding: 5px;
        font-size: 1.15rem;
        cursor: pointer;
        margin: 12px 0;
        border: none;
        text-decoration: none;
        border-radius: 10px;
    }
    .edit:hover{
        background: #789718;
        color: white;
    }

    .contents{
        position: absolute;
        top: 2%;
        left: 10%;
    }



    .head{
    color:black;
}
.text-color1{
	color:red;
	font-size: 1rem;
	text-decoration: none;
}

/* form box */

.form-box{
    width: 400px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: black;
    position: absolute;
   
    padding: 50px;
    background:  transparent;
    background: rgba(255,255,255, .7);
    box-shadow: 0 5px 15px rgba(0,0,0, .7);


}

.formbox{
   
    overflow: hidden;
    padding: 5px;
   
  


}


.formbox input{
    width: 240px;
    border: none;

    background:	#E2E4E5;
    border: 1px solid black;
  
    

    
    

}

